# Utah real estate data scraper

This scrapes the last x many years from the slt tribute website and exports as a csv for use in other applications
I could easily make this into a function, but for now lets leave as-is

Data is scraped from https://local.sltrib.com/homePrices

In [146]:
import pandas as pd
import numpy as np

In [147]:
master_df = pd.DataFrame()cs ..

Empty DataFrame
Columns: []
Index: []

In [148]:
#Loop through other pages and append
counties = ["Salt%20Lake", "Davis", "Weber", "Tooele", "Utah"]
years = np.arange(2003,2021,1)   #Set to the final year +1 since the last year is not included

for year in years:
    for county in counties:  
        url = f'https://local.sltrib.com/homePrices/index.php?Year={year}&County={county}'
        dfs = pd.read_html(url)
        dfs[0]['Year'] = year
        dfs[0]['County'] = county
        dfs[0].rename(columns={f"{year} Median Price":"Median Price"},inplace=True)
        master_df = pd.concat([master_df,dfs[0]]) #add rows to bottom
        print(year, county, master_df.shape, dfs[0].shape)  #Debug print statement
        
#Unit test
assert set(master_df.Year) == set(years)
assert set(master_df.County) == set(counties)

2003 Salt%20Lake (36, 8) (36, 8)
2003 Davis (46, 8) (10, 8)
2003 Weber (55, 8) (9, 8)
2003 Tooele (59, 8) (4, 8)
2003 Utah (79, 8) (20, 8)
2004 Salt%20Lake (115, 8) (36, 8)
2004 Davis (125, 8) (10, 8)
2004 Weber (134, 8) (9, 8)
2004 Tooele (138, 8) (4, 8)
2004 Utah (158, 8) (20, 8)
2005 Salt%20Lake (194, 8) (36, 8)
2005 Davis (204, 8) (10, 8)
2005 Weber (213, 8) (9, 8)
2005 Tooele (217, 8) (4, 8)
2005 Utah (237, 8) (20, 8)
2006 Salt%20Lake (273, 8) (36, 8)
2006 Davis (283, 8) (10, 8)
2006 Weber (292, 8) (9, 8)
2006 Tooele (296, 8) (4, 8)
2006 Utah (316, 8) (20, 8)
2007 Salt%20Lake (352, 8) (36, 8)
2007 Davis (362, 8) (10, 8)
2007 Weber (371, 8) (9, 8)
2007 Tooele (375, 8) (4, 8)
2007 Utah (395, 8) (20, 8)
2008 Salt%20Lake (431, 8) (36, 8)
2008 Davis (441, 8) (10, 8)
2008 Weber (450, 8) (9, 8)
2008 Tooele (454, 8) (4, 8)
2008 Utah (474, 8) (20, 8)
2009 Salt%20Lake (510, 8) (36, 8)
2009 Davis (520, 8) (10, 8)
2009 Weber (529, 8) (9, 8)
2009 Tooele (533, 8) (4, 8)
2009 Utah (553, 8) (20, 8)
2010 Salt%20Lake (589, 8) (36, 8)
2010 Davis (599, 8) (10, 8)
2010 Weber (608, 8) (9, 8)
2010 Tooele (612, 8) (4, 8)
2010 Utah (632, 8) (20, 8)
2011 Salt%20Lake (668, 8) (36, 8)
2011 Davis (678, 8) (10, 8)
2011 Weber (687, 8) (9, 8)
2011 Tooele (691, 8) (4, 8)
2011 Utah (711, 8) (20, 8)
2012 Salt%20Lake (747, 8) (36, 8)
2012 Davis (757, 8) (10, 8)
2012 Weber (766, 8) (9, 8)
2012 Tooele (770, 8) (4, 8)
2012 Utah (790, 8) (20, 8)
2013 Salt%20Lake (826, 8) (36, 8)
2013 Davis (836, 8) (10, 8)
2013 Weber (845, 8) (9, 8)
2013 Tooele (849, 8) (4, 8)
2013 Utah (869, 8) (20, 8)
2014 Salt%20Lake (905, 8) (36, 8)
2014 Davis (915, 8) (10, 8)
2014 Weber (924, 8) (9, 8)
2014 Tooele (928, 8) (4, 8)
2014 Utah (948, 8) (20, 8)
2015 Salt%20Lake (984, 8) (36, 8)
2015 Davis (994, 8) (10, 8)
2015 Weber (1003, 8) (9, 8)
2015 Tooele (1007, 8) (4, 8)
2015 Utah (1027, 8) (20, 8)
2016 Salt%20Lake (1063, 8) (36, 8)
2016 Davis (1073, 8) (10, 8)
2016 Weber (1082, 8) (9, 8)
2016 Tooele (1086, 8) (4, 8)
2016 Utah (1106, 8) (20, 8)
2017 Salt%20Lake (1142, 8) (36, 8)
2017 Davis (1152, 8) (10, 8)
2017 Weber (1161, 8) (9, 8)
2017 Tooele (1165, 8) (4, 8)
2017 Utah (1185, 8) (20, 8)
2018 Salt%20Lake (1221, 8) (36, 8)
2018 Davis (1231, 8) (10, 8)
2018 Weber (1240, 8) (9, 8)
2018 Tooele (1244, 8) (4, 8)
2018 Utah (1264, 8) (20, 8)
2019 Salt%20Lake (1300, 8) (36, 8)
2019 Davis (1310, 8) (10, 8)
2019 Weber (1319, 8) (9, 8)
2019 Tooele (1323, 8) (4, 8)
2019 Utah (1343, 8) (20, 8)
2020 Salt%20Lake (1379, 8) (36, 8)
2020 Davis (1389, 8) (10, 8)
2020 Weber (1398, 8) (9, 8)
2020 Tooele (1402, 8) (4, 8)
2020 Utah (1422, 8) (20, 8)

In [149]:
#Clean things up
master_df = master_df.drop(columns=["Up/Down", "%Change"])
master_df['County'] = master_df['County'].str.replace("%20", ' ')

In [150]:
master_df

      Zip          City  Units Sold Median Price  Year     County
0   84006     Copperton           4          NaN  2003  Salt Lake
1   84009  South Jordan           0          NaN  2003  Salt Lake
2   84020        Draper         141     $253,000  2003  Salt Lake
3   84044         Magna         118     $109,500  2003  Salt Lake
4   84047       Midvale          47     $153,000  2003  Salt Lake
..    ...           ...         ...          ...   ...        ...
15  84653         Salem          30     $520,000  2020       Utah
16  84655     Santaquin          61     $360,000  2020       Utah
17  84660  Spanish Fork         160     $385,000  2020       Utah
18  84663   Springville         134     $366,950  2020       Utah
19  84664      Mapleton          58     $549,195  2020       Utah

[1422 rows x 6 columns]

In [151]:
master_df.to_csv("UtahZipsByQuarter.csv")